div
        
        div= user.first_name
        div= user.id
        div= user.username
        div= user.email
        div= user.gender
        img(src="https://graph.facebook.com/"+user.id+"/picture?type=normal")